<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demons</title>
</head>

<body>
    <h1>Demons:</h1>
    <h2 class="page-header">Search Demons</h2>
    <form action="/demons" method="GET">
        <div class="form-row">
            <div class="form-item">
                <label>Name</label>
                <input type="text" name="title" value="<%= searchOptions.title %>" />
            </div>
        </div>
        <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <br />
    <a href="/demons/new">Add New Demon</a>
    <% if (demons.length> 0) { %>
        <% let currentGame=null; %>
            <% demons.forEach(demonItem=> { %>
                <% if (demonItem.game.title !==currentGame) { %>
                    <% currentGame=demonItem.game.title; %>
                        <h2>
                            <%= currentGame %>:
                        </h2>
                        <% } %>
                            <h3>
                                <%= demonItem.title %>
                            </h3>
                            <p>Game: <%= demonItem.game.title %>
                            </p>
                            <p>
                                <%= demonItem.description %>
                            </p>
                            <% if (demonItem.coverImageType && demonItem.coverImage) { %>
                                <img src="data:<%= demonItem.coverImageType %>;base64,<%= demonItem.coverImage.toString('base64') %>"
                                    alt="<%= demonItem.title %> Cover Image" style="width: 200px;">
                                <% } %>
                                    <div>
                                        <a class="btn btn-primary" href="/demons/<%= demonItem._id %>/edit">Edit</a>
                                        <%- include('../partials/deleteForm', { url: `/demons/${demonItem._id}` }) %>
                                    </div>
                                    <% }) %>
                                        <% } else { %>
                                            <p>No demons found.</p>
                                            <% } %>
</body>

</html>
