<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Demon</title>
</head>

<body>
    <h2 class="page-header">Edit Demon</h2>
    <form action="/demons/<%= demon.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-item">
                <label for="title">Name</label>
                <input type="text" id="title" name="title" value="<%= demon.title %>" required />
            </div>
            <div class="form-item">
                <label for="description" class="description">Description</label>
                <textarea id="description" name="description" class="textarea-description" required>
                    <%= demon.description %>
                </textarea>
            </div>
            <div class="form-item">
                <label for="game">Game</label>
                <select id="game" name="gameId" required>
                    <% games.forEach(game=> { %>
                        <option value="<%= game._id %>" <%=game._id.equals(demon.game) ? 'selected' : '' %>><%=
                                game.title %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div>
                <label for="coverImage">Cover Image</label>
                    <img id="preview" src="" alt="Image Preview" />
                <input type="file" id="coverImage" name="coverImage">
                <button class="btn btn-primary" type="button"
                    onclick="document.getElementById('coverImage').click()">Choose file</button>
            </div>
        </div>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-danger" href="/demons/<%= demon.id %>">Cancel</a>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</body>

</html>
