<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Demon</title>
</head>

<body>
    <h2 class="page-header">Edit Demon</h2>
    <form action="/demons/<%= demon.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-item">
                <label for="title">Name</label>
                <input type="text" id="title" name="title" value="<%= demon.title %>" required />
            </div>
            <div class="form-item">
                <label for="description" class="description">Description</label>
                <textarea id="description" name="description" class="textarea-description" required><%= demon.description %></textarea>
            </div>
            <div class="form-item">
                <label for="game">Game</label>
                <select id="game" name="gameId" required>
                    <% games.forEach(game => { %>
                        <option value="<%= game._id %>" <%= game._id.equals(demon.game) ? 'selected' : '' %>><%= game.title %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-item">
                <label for="coverImage">Cover Image</label>
                <% if (demon.coverImageType && demon.coverImage) { %>
                    <img src="data:<%= demon.coverImageType %>;base64,<%= demon.coverImage.toString('base64') %>" alt="<%= demon.title %> Cover Image" style="width: 200px;">
                <% } %>
                <input type="file" id="coverImage" name="coverImage">
            </div>
        </div>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-danger" href="/demons/<%= demon.id %>">Cancel</a>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</body>

</html>

