<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Demon</title>
</head>

<body>
    <h1>Add New Demon</h1>
    <% if (locals.errorMessage) { %>
        <p>
            <%= locals.errorMessage %>
        </p>
        <% } %>
            <div class="form-row">
                <div class="form-item">

                    <form action="/demons" method="POST" enctype="multipart/form-data">
                        <div>
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" value="<%= demon.title %>" required>
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <textarea id="description" name="description" required>
                                <%= demon.description %>
                            </textarea>
                        </div>
                        <div>
                            <label for="game">Game</label>
                            <select id="game" name="gameId" required>
                                <% games.forEach(game=> { %>
                                    <option value="<%= game._id %>">
                                        <%= game.title %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div>
                            <% if (demon.coverImage && demon.coverImageType) { %>
                                <img id="preview"
                                    src="data:<%= demon.coverImageType %>;base64,<%= demon.coverImage.toString('base64') %>"
                                    alt="<%= demon.title %> Cover Image" style="width: 200px;" />
                                <% } else { %>
                                    <img id="preview" alt="Cover Image Preview" style="width: 200px;" />
                                    <% } %>
                                        <input type="file" id="coverImage" name="coverImage">
                                        <button class="btn btn-primary" type="button"
                                            onclick="document.getElementById('coverImage').click()">Choose file</button>

                        </div>
                        <div>
                            <div class="form-row form-row-end btn-row">
                                <a href="/demons" class="btn btn-danger">Cancel</a>
                                <button class="btn btn-primary" type="submit">Add Demon</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
</body>

</html>
