<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Source Port</title>
</head>

<body>
    <h1>Add New Source Port</h1>
    <% if (locals.errorMessage) { %>
        <p>
            <%= locals.errorMessage %>
        </p>
        <% } %>
            <div class="form-row">
                <div class="form-item">

                    <form action="/source" method="POST" enctype="multipart/form-data">
                        <div>
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" value="<%= source.title %>" required>
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <textarea id="description" name="description" required>
                                <%= source.description %>
                            </textarea>
                        </div>
                        <div>
                            <label for="platforms">Platforms</label>
                            <input type="text" id="platforms" name="platforms" value="<%= source.platforms %>">
                        </div>
                        <div>
                            <label for="requirements">Requirements</label>
                            <textarea type="text" id="requirements" name="requirements"><%= source.requirements %></textarea>
                        </div>
                        <div>
                         <% if (source.coverImage && source.coverImageType) { %>
                        <img id="preview" src="data:<%= source.coverImageType %>;base64,<%= source.coverImage.toString('base64') %>" alt="<%= source.title %> Cover Image" style="width: 200px;" />
                    <% } else { %>
                        <img id="preview" alt="Cover Image Preview" style="width: 200px;" />
                    <% } %>
                    <input type="file" id="coverImage" name="coverImage">
                    <button class="btn btn-primary" type="button" onclick="document.getElementById('coverImage').click()">Choose file</button>

                        </div>
                        <div>
                         <div class="form-row form-row-end btn-row">
                            <button class="btn btn-primary" type="submit">Add Source Port</button>
                            <a href="/source" class="btn btn-danger">Cancel</a>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
</body>

</html>
