<title>Source Ports</title>
<h1>Source Ports:</h1>
<p>
A Doom source port is a modernized version of the original Doom game engine, designed to run on contemporary hardware and operating systems. It enhances the game with improved graphics, controls, and compatibility features while maintaining the core gameplay and content of the original Doom.
</p>
<h2 class="page-header">Search Source Ports</h2>
<form action="/source" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="title" value="<%= searchOptions.title %>" />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br />
  <a href="/source/new">Add New Source Port</a>
  <ul>
    <% source.forEach(sourcePortItem => { %>
      <li>
        <h2><%= sourcePortItem.title %></h2>
        <p><%= sourcePortItem.description %></p>
        <p><strong>Platforms:</strong> <%= sourcePortItem.platforms %></p>
        <p><strong>Requirements:</strong> <%= sourcePortItem.requirements %></p>
        <% if (sourcePortItem.coverImageType && sourcePortItem.coverImage) { %>
          <img src="data:<%= sourcePortItem.coverImageType %>;base64,<%= sourcePortItem.coverImage.toString('base64') %>" alt="<%= sourcePortItem.title %> Cover Image" style="width: 200px;">
        <% } %>
        <div>
          <a class="btn btn-primary" href="/source/<%= sourcePortItem._id %>/edit">Edit</a>
          <%- include('../partials/deleteForm', { url: `/source/${sourcePortItem._id}` }) %>
        </div>
      </li>
    <% }) %>
  </ul>

