<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levels</title>
</head>

<body>
    <h1>Levels:</h1>
    <h2 class="page-header">Search Levels</h2>
    <form action="/levels" method="GET">
        <div class="form-row">
            <div class="form-item">
                <label>Name</label>
                <input type="text" name="title" value="<%= searchOptions.title %>" />
            </div>
        </div>
        <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <br />
    <a href="/levels/new">Add New Level</a>

    <% if (levels.length > 0) { %>
        <% let currentGame = null; %>
        <% levels.forEach(levelItem => { %>
            <% if (levelItem.game.title !== currentGame) { %>
                <% currentGame = levelItem.game.title; %>
                <h2><%= currentGame %>:</h2>
            <% } %>
                <h3><%= levelItem.title %></h3>
                <p>Game: <%= levelItem.game.title %></p>
                <p><%= levelItem.description %></p>
                <% if (levelItem.coverImageType && levelItem.coverImage) { %>
                    <img src="data:<%= levelItem.coverImageType %>;base64,<%= levelItem.coverImage.toString('base64') %>"
                        alt="<%= levelItem.title %> Cover Image" style="width: 200px;">
                <% } %>
                <div>
                    <a class="btn btn-primary" href="/levels/<%= levelItem._id %>/edit">Edit</a>
                    <%- include('../partials/deleteForm', { url: `/levels/${levelItem._id}` }) %>
                </div>
        <% }) %>
    <% } else { %>
        <p>No levels found.</p>
    <% } %>
</body>

</html>

