<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Level</title>
</head>

<body>
    <h1>Add New Level</h1>
    <% if (locals.errorMessage) { %>
        <p>
            <%= locals.errorMessage %>
        </p>
        <% } %>
            <div class="form-row">
                <div class="form-item">
                    <form action="/levels" method="POST" enctype="multipart/form-data">
                        <div>
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" value="<%= level.title %>" required>
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <textarea id="description" name="description" required>
                                <%= level.description %>
                            </textarea>
                        </div>
                        <div>
                            <label for="game">Game</label>
                            <select id="game" name="game" required>
                                <% games.forEach(game=> { %>
                                    <option value="<%= game._id %>">
                                        <%= game.title %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div>
                            <img id="preview" src="" alt="Image Preview" />
                            <input type="file" id="coverImage" name="coverImage">
                            <button class="btn btn-primary"
                                onclick="document.getElementById('coverImage').click()">Choose
                                file</button>
                        </div>
                        <div>
                         <div class="form-row form-row-end btn-row">
                            <button class="btn btn-primary" type="submit">Add Level</button>
                            <a href="/levels" class="btn btn-danger">Cancel</a>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
</body>

</html>
