<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Game</title>
</head>


<title>Edit Games</title>
<h2 class="page-header">Edit Game</h2>
<form action="/games/<%= game.id %>?_method=PUT" method="POST">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="title" value="<%= game.title %>" />
            <label class="description">Description</label>
            <textarea name="description" class="textarea-description textarea">
                <%= game.description %>
            </textarea>
            <label>Platforms</label>
            <input name="platforms" class="textarea textarea-platforms" value="<%= game.platforms %>"
                <label>Requirements</label>
            <textarea type="text" class="textarea-requirements textarea" name="requirements">
                <%= game.requirements %>
            </textarea>
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/games">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
