<title>Mods</title>
<h1>Mods:</h1>
<h2 class="page-header">Search Mods</h2>
<form action="/mods" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="title" value="<%= searchOptions.title %>" />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<div class="addNew">
  <a class="btn btn-primary" href="/mods/new">Add New Mod</a>
  </div>
  <ul class="subSection">
    <% mods.forEach(modsItems => { %>
      <li>
        <h2><%= modsItems.title %></h2>
        <p><%= modsItems.description %></p>
        <p><strong>Compatibility:</strong> <%= modsItems.compatibility %></p>
        <p><strong>Requirements:</strong> <%= modsItems.requirements %></p>
        <% if (modsItems.coverImageType && modsItems.coverImage) { %>
          <img src="data:<%= modsItems.coverImageType %>;base64,<%= modsItems.coverImage.toString('base64') %>" alt="<%= modsItems.title %> Cover Image">
        <% } %>
        <div class="form-row form-row-end btn-row">
          <a class="btn btn-primary" href="/mods/<%= modsItems._id %>/edit">Edit</a>
          <%- include('../partials/deleteForm', { url: `/mods/${modsItems._id}` }) %>
          </div>
      </li>
    <% }) %>
  </ul>

