<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Mods </title>
</head>
<body>
  <h1>Add New Mods </h1>
  <% if (locals.errorMessage) { %>
    <p><%= locals.errorMessage %></p>
  <% } %>
  <form action="/mods" method="POST" enctype="multipart/form-data">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="<%= mods.title %>" required>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" name="description" required><%= mods.description %></textarea>
    </div>
<div>
      <label for="compatibility">Compatibility</label>
      <textarea id="compatibility" name="compatibility" required><%= mods.compatibility %></textarea>
    </div>
    <div>
      <label for="requirements">Requirements</label>
      <input type="text" id="requirements" name="requirements" value="<%= mods.requirements %>">
    </div>
    <div>
      <label for="coverImage">Cover Image</label>
      <input type="file" id="coverimage" name="coverImage">
    </div>
    <div>
      <button type="submit">Add Mods </button>
    </div>
  </form>
</body>
</html>

