<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Mods </title>
</head>

<body>
    <h1>Add New Mods </h1>
    <% if (locals.errorMessage) { %>
        <p>
            <%= locals.errorMessage %>
        </p>
        <% } %>
            <div class="form-row">
                <div class="form-item">
                    <form action="/mods" method="POST" enctype="multipart/form-data">
                        <div>
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" value="<%= mods.title %>" required>
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <textarea id="description" name="description" required>
                                <%= mods.description %>
                            </textarea>
                        </div>
                        <div>
                            <label for="compatibility">Compatibility</label>
                            <input id="compatibility" name="compatibility" required value="<%= mods.compatibility %>"/>
                        </div>
                        <div>
                            <label for="requirements">Requirements</label>
                            <textarea type="text" id="requirements" name="requirements"><%= mods.requirements %></textarea>
                        </div>
                        <div>
                        <% if (mods.coverImage && mods.coverImageType) { %>
                        <img id="preview" src="data:<%= mods.coverImageType %>;base64,<%= mods.coverImage.toString('base64') %>" alt="<%= mods.title %> Cover Image" style="width: 200px;" />
                    <% } else { %>
                        <img id="preview" alt="Cover Image Preview" style="width: 200px;" />
                    <% } %>
                    <input type="file" id="coverImage" name="coverImage">
                    <button class="btn btn-primary" type="button" onclick="document.getElementById('coverImage').click()">Choose file</button>



                        </div>
                        <div class="form-row form-row-end btn-row">
                            <button class="btn btn-primary" type="submit">Add Mods</button>
                            <a href="/mods" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
</body>

</html>
